 div{
  text-align: center;
  background-color:#ff12ff;
width: auto;
height: 1000px;
}
button
{
  font-style: initial;
height:200px;
width: 200px;
color:yellow;
text-shadow: 20px;
background:radial-gradient(circle,#ff12ff 50%,blue);
border:circle;
border-radius:10px;
font-size: 25px;
}
h1{
  font-size: 20px;
  font-style: oblique;
}
button:hover
{
  background-color:orange;
  cursor:pointer;
}
h2{
  font-size: 32px;
  color: bisque;
}
 